# dependencies
node_modules/
.pnp
.pnp.*

# testing
/coverage

# next.js & nestjs builds
.next/
out/
dist/
server/dist/

# production
/build

# misc
.DS_Store
*.pem
*.log

# env files
.env
.env.local
.env.*.local
server/.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
